* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 100%;
}
/*Navigation Bar*/
.nav {
  display: flex;
  justify-content: space-between;
}
.nav__name img {
  width: 100px;
  padding-left: 10px;
}
.nav__search {
  border: solid black 1px;
  width: 60%;
  padding: 10px;
  border-radius: 30px;
}
.nav__search input {
  width: 100%;
  font-size: 15px;
  border: none;
  align-items: center;
  background-color: transparent;
}
.nav__search {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav__search input:focus {
  outline: none;
}
.nav__icon {
  display: flex;
  gap: 15px;
  padding-right: 10px;
}
.nav {
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: solid black 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  cursor: pointer;
}
.one:hover {
  color: rgb(164, 53, 240);
}
.mylearning {
  position: relative;
}
.mylearning__popup {
  position: absolute;
  width: 200px;
  right: 0;
  top: 50px;
  padding: 10px;
  background-color: white;
  border: solid black 1px;
  display: none;
}
.mylearning__popup button{
  border: none;
  background-color: transparent;
  font-size: 15px;
  margin-top: 10px;
  color:  rgb(164, 53, 240);
 width: 100%;

}
.mylearning:hover .mylearning__popup {
  display: block;
}
/*Course Categories*/
.cat {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border-bottom: solid black 1px;
  cursor: pointer;
  
}
.cat p:hover{
 transition: 1s;
 background-color:rgb(194, 154, 220);
 color: black;
 border: solid rgb(164, 53, 240) 1px;
}
.cat p {
  background-color: rgb(164, 53, 240);
  font-size: 16px;
  gap: 20px;
  padding: 5px;
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
  border: solid  rgb(164, 53, 240) 1px;
}
/*advertisement image*/
.image img {
  width: 100%;
  position: relative;
}
.image__offersale {
  position: absolute;
  width: 350px;
  height: 140px;
  bottom: 250px;
  left: 100px;
  border: solid rgb(0, 0, 0) 2px;
  padding: 10px;
  animation-name: imagescale;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes imagescale {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}
.image__offersale button {
  border: none;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(62, 65, 67);
  color: white;
  font-size: 15px;
}
.image__offersale p, h2, button {
  margin-bottom: 10px;
}
.image__offersale button:hover{
    background-color:  rgb(87, 91, 92);
}
.image__offersale p{
  padding: 0;
}
/*Course Cards*/
.course-card__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.course-card {
  width: 100%;
  margin-top: 10px;
}
.course-card h1 {
  padding-left: 10px;
}
.course-card__img {
  width: 300px;
  border: solid rgb(209, 215, 220) 2px;
  border-radius: 5px;
}
.course-card__container img {
  width: 100%;
}
.course-card__img img {
  border-radius: 2px;
}
.card__info {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 2;
}
.seller {
  background-color: rgb(236, 235, 152);
  display: inline;
  padding: 2px;
}
.card__info h3 {
  font-size: 22px;
}
.course-card p {
  line-height: 2;
}

/*Course Topic*/
.topic {
  padding: 10px;
}
.topic__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.topic__list p {
  border: solid black 2px;
  padding: 10px;
  flex-basis: 25%;
  flex-grow: 1;
}
/*Popular Course Section*/
.popular {
  width: 100%;
  margin-top: 10px;
}
.popular__courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: space-around;
}
.popular__course__img {
  width: 300px;
  border: solid rgb(209, 215, 220) 2px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.popular__courses img {
  width: 100%;
}
.popular__course__img img {
  border-radius: 2px;
}
.popular__course-info {
  margin-left: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  line-height: 2;
}
.popular__course-info h3 {
  font-size: 22px;
}
.popular__title h1,
p {
  padding-left: 10px;
}
.popular p {
  line-height: 2;
}
.popular__course__img {
  flex-basis: 21%;
}
/*Footer section*/
.footer {
  padding: 30px;
  background-color: black;
  color: white;
}
.footer__one {
  display: flex;
  gap: 10px;
}
.footer__two {
  display: flex;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}
.footer__one p {
  margin: 20px;
}
